# PVC install.sh preseed configuration Jinja2 template
#
# This BASH-compliant variables file is Loaded during PXE installs to preseed the environment.
# During normal usage, the pvcbootstrapd will load this file, adjust it according to its needs,
# and write out one instance per node to be installed.
#
# This file is thus not designed to be used by humans, and its values are seeded via options in
# the cluster-local Ansible group_vars, though it can be used as a manual template if required.

###
### General definitions/overrides
###

{%- if debrelease is defined and debrelease %}
# The Debian release to use (overrides the default)
debrelease="{{ debrelease }}"
{% endif %}

{%- if debmirror is defined and debmirror %}
# The Debian mirror to use (overrides the default)
debmirror="{{ debmirror }}"
{% endif %}

{%- if addpkglist is defined and addpkglist %}
# Additional packages (comma-separated) to install in the base system
addpkglist="{{ addpkglist }}"
{% endif %}

{%- if filesystem is defined and filesystem %}
# Alternate filesystem for system volumes (/, /var/lib/ceph, /var/lib/zookeeper)
filesystem="{{ filesystem }}"
{% endif %}

###
### Per-host definitions (required)
###

# The hostname of the system (set per-run)
target_hostname="{{ fqdn }}"

# The target system disk path
target_disk="{{ target_disk }}"

# SSH key method (usually tftp)
target_keys_method="tftp"

# SSH key path (usually keys.txt)
target_keys_path="keys.txt"

# Deploy username (usually deploy)
target_deploy_user="deploy"

# Consoles to use by the inital boot process; these are normally set automatically
# based on the TTYs found by the installer, and are later overridden by the Ansible
# playbooks based on the hardware configuration. It is best to leave this commented
# unless you know that you need it.
#target_consoles="console=tty1 console=ttyS1,115200"

# Modules to blacklist from the installed system; we include hpwdt (HP Proliant
# watchdog) by default since this is known to cause kernel panics on boot with this
# hardware. Add others here too if you wish to add more to the default.
#target_module_blacklist=( "hpwdt" )

# Installer checkin URI (provided by pvcbootstrapd)
pvcbootstrapd_checkin_uri="{{ pvcbootstrapd_checkin_uri }}"
